/* 네비게이션 메뉴바 */

.nav-menu {
    background-color: #1a1a1a;
    text-align: center;
    position: fixed;  /* 화면 상단에 고정 */
    width: 100%;      /* 너비 100% */
    height: 8vh;
    line-height : 6vh;
    top: 0;           /* 위쪽에 고정 */
    right: 0;
    z-index: 10;
    transition-property: box-shadow, background-color;
    transition-duration: 0.5s;
    transition-delay: ease-out;
}

.nav-menu:hover {
    background-color: #2a2a2f;
    box-shadow: 4px 4px 4px 4px #1f1f1f;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.nav-menu li {
    display: inline;
    margin-right: 60px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}

.nav-menu a.active {
    font-weight: 800;
    color: #cf9aff;
}

.nav-menu a:hover {
    color: #af7acf;
}

/* 이미지 슬라이드 */

* {
    margin:0; 
    padding:0;
}
body{
    width: 100%;
    height: 100%;
}
li {
    list-style: none;
}
.kind_wrap {
    width:100%; 
    max-width:800;
    margin: 0 auto;
    top: 8vh;
    position: relative;
}
.kind_wrap > .kind_slider {
    overflow: hidden;
}
.kind_wrap > .kind_slider .slider { 
    position: relative; 
    transition: 0.5s;
}
.kind_wrap > .kind_slider .slider li {
    float:left;
    position: relative;
}
.kind_wrap > .kind_slider img {
    vertical-align: top;
    width: 100vw;
    height: 35vh;
    object-fit: cover;
}
.kind_wrap > .kind_slider li .img-text {
    position: absolute;
    top: 10%;
    left: 10%;
    /* transform: translate( -50%, -50% ); */
    color: white;
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
    line-height: 9vh;
}
.kind_wrap .arrow > a.prev {
    position: absolute; 
    left:40px; 
    top:13vh;
    font-weight: 900;
    /* font-size: 40px; */
    font-size: 5vh;
    text-decoration: none;
    color: #eaeaea;
}
.kind_wrap .arrow > a.next {
    position: absolute; 
    right:40px; 
    top:13vh;
    font-weight: 900;
    /* font-size: 40px; */
    font-size: 5vh;
    text-decoration: none;
    color: #eaeaea;
}

/* 페이지 내용 스타일링 */

.content {
    margin-top: 120px;  /* 네비게이션 메뉴 바의 높이만큼 여백을 추가하여 겹치지 않게 함 */
}

.home-ad {
    border-radius: 20px;
    width: 80vw;
    height: 40vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
    box-shadow: 0 0 15px #5a5a5a;
}
.home-ad .num-text {
    color: #af7acf;
    padding: 2vh 0 2vh 2vw;
    font-size: 40px;
}
.home-ad p{
    padding: 0.5vh 0 2vh 1.5vw;
    font-size: 23px;
    line-height: 6vh;
}